{% extends "base.html.twig" %}
{% set title="Crontabs" %}

{% block title %}{{ appname }} - {{ title }}{% endblock %}

{% block content %}
    {% for crontab in crontabs %}

        <div class="table-responsive">
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                <caption><h4>{{ crontab.name }}</h4></caption>
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Edition</th>
                    <th>Effacer</th>
                </tr>
                </thead>
                <tbody>

                {% for job in crontab.jobs %}
                    <tr {% if job.activated %} class="is-selected" {% endif %}>
                        <td>{{ job.name }}</td>
                        <td>
                            <a href="edit/{{ crontab.name }}/{{ job.name }}">
                                <i class="material-icons mdl-color-text--green">edit</i>
                            </a>
                        </td>
                        <td>
                            <a class="delete" href="">
                                <i class="material-icons mdl-color-text-accent">delete</i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <a href="add/{{ crontab.name }}">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-menu--unaligned">
                Ajouter
            </button>
        </a>
    {% endfor %}
{% endblock %}