{% extends "base.html.twig" %}
{% set title="Edition" %}

{% block title %}{{ appname }} - {{ title }}{% endblock %}

{% block content %}
    <form action="{{ base_path }}/cronwa/{{ cronTab.name }}" method="post">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
                <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="expression" id="expression"
                           value="{{ job.toCronDatePart }}"/>
                    <label class="mdl-textfield__label" for="expression">Expression Cron</label>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
                <div id="cron-expression-description" class="mdl-cell--12-col">
                    Ici l'expression cron lisible par l'humain...
                </div>
            </div>

            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
                <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="command" id="command"
                           value="{{ job.command }}"/>
                    <label class="mdl-textfield__label" for="command">Commande</label>
                </div>
            </div>
        </div>

        <button id="send-btn" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
                type="submit">
            <i class="material-icons">send</i>
        </button>
    </form>

{% endblock %}