{% extends "base.html.twig" %}

{% if job.name == false  %}
    {% set title="Ajout" %}
{% else %}
    {% set title="Edition" %}
{% endif %}

{% block title %}{{ appname }} - {{ title }}{% endblock %}

{% block content %}
    <form action="{{ base_path }}/cronwa/{{ cronTab.name }}" method="post">

        <input class="mdl-textfield__input" type="text" name="previous_name" id="previous_name"
               value="{{ job.name }}" hidden/>

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">

                <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="activated">
                        <input type="checkbox" id="activated" class="mdl-switch__input" name="activated" {% if job.activated %}checked{% endif %}/>
                        <span class="mdl-switch__label">Activation</span>
                    </label>
                </div>

                <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="name" id="name"
                           value="{{ job.name }}" required/>
                    <label class="mdl-textfield__label" for="name">Nom</label>
                </div>

                <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="expression" id="expression"
                           value="{{ job.toCronDatePart }}" required/>
                    <label class="mdl-textfield__label" for="expression">Expression Cron</label>
                </div>

                <div id="cron-expression-description" class="mdl-cell--12-col  mdl-typography--text-center">
                    Ici l'expression cron lisible par l'humain...
                </div>

                <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <textarea class="mdl-textfield__input" type="text" name="command"
                              id="command" required>{{ job.command }}</textarea>
                    <label class="mdl-textfield__label" for="command">Commande</label>
                </div>
                <ul class="errorMessages mdl-button--accent">{% for error in errors %}<li>{{ error }}</li>{% endfor %}</ul>
            </div>
        </div>

        <button id="send-btn" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
                type="submit">
            <i class="material-icons">send</i>
        </button>
    </form>

{% endblock %}